
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titan+One&display=swap');

.App{

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display:flex;
  background:black;
  color:white;
}
.nav{
  position:sticky;
  height: 100vh;
  min-width:200px;
  background-color:black;
}